.menu {
    /* filter: drop-shadow(1px 1px 1px #5116a9); */
    width: 100%;
  }
  
  .menuul {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 7px 0 0 0;
    /* background: var(--accent); */
  }
  
  .menuli {
    color: var(--background);
    display: block;
    transform-origin: -20px 50%;
  }
  
  .menuul,
  .menuli {
    list-style: none;
    padding: 10px;
  }
  




  /* Example: Override for a specific container */
.custom-scrollbar {
  overflow-x: auto; /* Ensure scrolling is enabled */
}

/* Show scrollbar for the specific container */
.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e2e8f0; /* Adjust as needed */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #94a3b8; /* Adjust as needed */
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* Adjust as needed */
}