

.mySwiperGuest .swiper-pagination-bullet-active {
  background-color: white;
  /* Active bullet color */
  border: 2px solid white;
  padding: 4px;
}

.mySwiperGuest .swiper-button-prev,
.mySwiperGuest .swiper-button-next {
  background: white;
  border-radius: 50%;
  /* Make the buttons circular */
  width: 30px;
  /* Smaller button width */
  height: 30px;
  /* Smaller button height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  /* Arrow color */
  padding: 0;
  /* Remove extra padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional shadow */
  padding: 5px;
}

.mySwiperGuest .swiper-button-next:after, 
.mySwiperGuest .swiper-button-prev:after {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

/* .mySwiperGuest {} */